@import url('./tailwind.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

#tap-me{
  background-color: black;
  opacity: 1;
  z-index: 2;
  top: 0;
  left: 0;
  transition: 1s;
}

#tap-me p{
  padding-top: 40vh;
  padding-left: 35vw;
}

div#background-image{
  background-image: url('./assets/cafe.jpg');
  background-size: cover;
  transition: 1s;
  /* animation: background-animation 150s forwards; */
  animation-delay: 4s;
}


div#shade{
  background-color: #000000;
  transition: 3s;
  /* animation-delay: 1s; */
  /* animation: reveal 3s forwards; */
}

.credit{
  font-family: 'Shadows Into Light', cursive;
  width: 60%;
  position: absolute;
  bottom: 20vh;
  left: 20%;
}

.lol{
  position: absolute;
  bottom: 15vh;
  left: 18%;
}

#page-1{
  top:0;
  left: 0vw;
  overflow: hidden;
  height: 100vh;
  /* animation: text-animation 10s forwards; */
}

.page{
  top:0;
  left: 100vw;
  transition: 1s;
}

@keyframes text-animation{
  0%{
    height: 0vh;
    /* left: 50vw; */
  }
  15%{
    height: 20vh;
  }
  30%{
    height: 20vh;
  }
  45%{
    height: 37vh;
  }
  60%{
    height: 37vh;
  }
  70%{
    height: 50vh;
  }
  80%{
    height: 50vh;
  }
  90%{
    height: 70vh;
  }

  100%{
    height: 100vh;
  }
}

@keyframes background-animation{
  0%{
    background-position: left;
  }
  9%{    
    background-position: right;
    background-image: url('./assets/cafe.jpg');
  }
  10%{
    background-position: right;
    background-image: url('./assets/penguin.jpg');
  }
  20%{
    background-position: left;
    background-image: url('./assets/penguin.jpg');
  }
  21%{
    background-position: left;
    background-image: url('./assets/class.jpg');
  }
  31%{
    background-position: right;
    background-image: url('./assets/class.jpg');
  }
  32%{
    background-position: right;
    background-image: url('./assets/picture_7.jpg');
  }
  41%{
    background-position: left;
    background-image: url('./assets/picture_7.jpg');
  }
  42%{
    background-position: left;
    background-image: url('./assets/picture_5.jpg');
  }
  51%{
    background-position: right;
    background-image: url('./assets/picture_5.jpg');
  }
  52%{
    background-position: right;
    background-image: url('./assets/picture_3.jpg');
  }
  61%{
    background-position: left;
    background-image: url('./assets/picture_3.jpg');
  }
  62%{
    background-position: left;
    background-image: url('./assets/picture_1.jpg');
  }
  71%{
    background-position: right;
    background-image: url('./assets/picture_1.jpg');
  }
  72%{
    background-position: right;
    background-image: url('./assets/picture_6.jpg');
  }
  80%{
    background-position: left;
    background-image: url('./assets/picture_6.jpg');
  }
  81%{
    background-position: left;
    background-image: url('./assets/wissam.jpg');
  }
  85%{
    background-position: right;
    background-image: url('./assets/wissam.jpg');
  }  
  86%{
    background-position: right;
    background-image: url('./assets/cat.jpg');
  }
  91%{
    background-position: left;
    background-image: url('./assets/cat.jpg');
  }
  92%{
    background-position: left;
    background-image: url('./assets/everyone.jpg');
  }
  100%{
    background-position: right;
    background-image: url('./assets/everyone.jpg');
  }
}

@keyframes reveal{
  from{
    background-color: rgba(0,0,0);
  }
  to{
    background-color: rgba(0,0,0,0.5);
  }
}